Library/
Temp/
zed-csharp.sln
zed.sln
zed.userprefs
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj
*.csproj
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/assetDatabase3
Library/guidmapper
*.userprefs
Library/CurrentLayout.dwlt
*.dwlt
